<h3>Settings</h3>
<form role="form" id="connectionForm">
	<div class="form-group">
		<div class="input-group well well-sm">
			<input type="text" placeholder="host/ip address" class="form-control" ng-model="hostip" id="hostname">
			<span class="input-group-btn">
				<button id="saveButton" ng-click="saveBtn()" class="btn btn-success" type="button">SAVE</button>
			 	<button id="resetButton" ng-click="resetBtn()" class="btn btn-danger" type="button">RESET</button>
			</span>
		</div>
	</div>
</form>